{% extends 'lit_reviews/base.html' %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block content %}
<div class="page-content">
    <div class="new-objects">
        <button>
            <a href="{% url 'tickets_app:create-ticket' %}">Demander une critique</a>
        </button>
        <button>
            <a href="{% url 'reviews_app:create-review-ticket' %}">Créer une critique</a>
        </button>
    </div>

    <div class="flux">
        {% for review in reviews %}
        <div class="review">
            <p>{{ review.headline }}</p>
            <img src="" alt="star rating" class="rating {{ review.rating }}">
            <p>{{ review.time_created|date:'H:i, j F o' }}</p>
            <p>{{ review.body }}</p>
            <img src="../media/{{ review.ticket.image }}" alt="{{ review.ticket.title }}" class="book-img">
            <!-- <a href="{% url 'reviews_app:update-review' review.pk %}">Modifier</a>
            <a href="{% url 'reviews_app:delete-review' review.pk %}">Supprimer</a> -->
            <!-- <div class="ticket">
                {% if review.ticket.user == request.user %}
                <p>Ticket - Vous</p>
                {% else %}
                <p>Ticket - {{ review.ticket.user }}</p>
                {% endif %}
                <p>{{ review.ticket.title }}</p>
            </div>  -->
        </div>
        {% endfor %}

        {% for ticket in tickets %}
        <div class="ticket">
            {% if ticket.user == request.user %}
            <p>Vous avez publié un ticket</p>
            {% else %}
            <p>Ticket - {{ ticket.user }}</p>
            {% endif %}
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            <p>{{ ticket.time_created|date:"H:i, j F o" }}</p>
            <img src="../media/{{ticket.image}}" alt="{{ ticket.title }}" class="book-img">
            <!-- <a href="{% url 'tickets_app:update-ticket' pk=ticket.pk %}">Modifier</a>
            <a href="{% url 'tickets_app:delete-ticket' pk=ticket.pk %}">Supprimer</a> -->
            <button>
                <a href="{% url 'reviews_app:create-review' ticket_id=ticket.pk %}">Créer une critique</a>
            </button>

        </div>
        {% endfor %}

        <div class="followers"></div>

        <!-- 
        <div class="tickets">{% lorem 2 p %}</div>
        <div class="reviews">{% lorem 2 p %}</div>
        <div class="followers">{% lorem 2 p %}</div>
        -->
    </div>

</div>


{% endblock %}