{% extends 'lit_reviews/base.html' %}



{% block h2 %}
<div class="page-content">
    Créer une critique
</div>
{% endblock %}

{% block content %}
<div class="page-content">
    {% if request.user == ticket.user %}
    <p>Vous êtes en train de poster en réponse à votre propre ticket</p>
    {% else %}
    <p>Vous êtes en train de poster en réponse à </p>
    {% endif %}

    <div class="original-ticket">
        <div id="ticket-data">
            <p>{{ ticket.user }} a demandé une critique <span>{{ ticket.time_created|date:"H:i, j F o" }}</span></p>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            <img src="../../media/{{ticket.image}}" alt="{{ ticket.title }}" class="book-img">
        </div>
    </div>


    <form method="POST">
        {% csrf_token %}
        <div class="form-review">
            {{ form.as_table }}
        </div>

        <input type="submit" value="Envoyer">
    </form>

</div>
{% endblock %}