/*            base.html              */
* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/*
nav * {
     border: 0.5px solid red;
}
*/

.nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.nav-right * {
    margin: 0 5px;
    padding: 0;
}

/*            homepage.html              */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

a:visited {
    color: black;
}

.new-objects {
    /* border: 2px solid red; */
    height: 2.5rem;
    margin-bottom: 1rem;

}

.new-objects button {
    height: 100%;

}

.flux {
    border: 0px solid white;
}

.ticket,
.original-ticket {
    border: 2px solid black;
    min-width: 20rem;
    min-height: 15rem;
    max-width: 35rem;
    max-height: 25rem;
    margin-bottom: 0.7rem;
}

.review {
    border: 2px solid black;
    min-width: 20rem;
    min-height: 15rem;
    max-width: 35rem;
    max-height: 40rem;
    margin-bottom: 0.7rem;
}

.book-img {
    width: 6rem;
    height: 8rem;
}


.rating-stars {
    /* border: 1px solid red; */
    width: 4rem;
    height: 0.9rem;
}

.page-content {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*            posts.html              */

.posts, .tickets {
    /*border: 1px solid blue;*/
    width: 39%;
}


/*            user_follows.html              */

table,
td,
th {
    border: 1px solid grey;
}

table {
    min-width: 60%;
    border-collapse: collapse;
    table-layout: auto;
}

.td-right {
    width: 12%;
    text-align: center;
}

.new-subs-form {
    /*border: 1px solid red;*/
    width: 60%;
}

.new-subs-form #new-subscription {
    border: 1px solid grey;
    width: 83%;
    height: 3rem;
    margin-right: 1.5rem;
}

.new-subs-form #send-button {
    border: 0.5px solid grey;
    width: 5.5rem;
    height: 2rem;
    border-radius: 8px;
    background-color: white;
}


/*            reviews_app/create_review_ticket.html              */

.form-ticket {
    border: 1px solid black;
}

.form-review {
    border: 1px solid black;
}